@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  background-color: rgb(36, 47, 63);
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
