@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  background-color: rgb(26, 32, 41);
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
nav {
  z-index: 9999;
}
